<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" width="300"alt="Logo Mercado Liebre">
        <p> Lugar para poner la barra de busqueda </p>
        <p> Compra en cuotas y sin tarjeta de credito </p>
        <nav>
            <ul  class="itemlist">
                <li> <a href="">Ofertas</a> </li>
                <li> <a href="">Tienda oficial</a> </li>
                <li> <a href="">Vender</a> </li>
                <li> <a href="">Ayuda</a> </li>
            </ul>

            <ul class="itemlist">
                <li> <a href="">Crea tu cuenta</a> </li>
                <li> <a href="">Ingresa</a> </li>
                <li> <a href="">Mis compras</a> </li>
            </ul>

        </nav>

        <main>
            <section class = "noticia">
                <h3> Basado en tu ultima visita</h3>
                <img src="/images/img-cafetera-moulinex.jpg"width="100" alt="Cafetera">
                <p  class = "texto-azul" >$6.770</p>
                <p>40% Off</p>
                <h4>Cafetera Moulinex</h4>

 <img src="/images/img-macbook-pro-2019.jpg"width="100" alt="MacBook Pro 2019">
                <p  class = "texto-azul" >$230.000</p>
                <p>20% Off</p>
                <h4>MacBook Pro 2019</h4>


 <img src="/images/img-samsung-galaxy-s10.jpg"width="100" alt="MacBook Pro 2019">
 <p class = "texto-azul"  >$70.500</p>
 <p>10% Off</p>
 <h4>Sansum Galaxy s10</h4>


 <img src="/images/img-tv-samsung-smart.jpg"width="100" alt="tv-samsung-smart">
 <p class = "texto-azul" > $23.200</p>
 <p>5% Off</p>
 <h4>SmartTv Samsung 43"</h4>

</section>

            <section>  </section>
            <section>  </section>
</main>
        <footer>  </footer>
    </header>
    
</body>
</html>
